# Ignore folders
*/
.z/z_data*

# Don't ignore hidden folders
!.*/

/.CFUserTextEncoding
/.Trash
/.Xauthority
/.adobe
/.android
/.arcrc
/.atom
/.babel.json
/.bash_history
/.cups
/.dropbox
/.heroku
/.ipython
/.ispell_english
/.jupyter
/.lesshst
/.lldb
/.macports
/.matplotlib
/.mysql_history
/.netrc
/.oh-my-zsh
/.oracle_jre_usage
/.pip
/.profile
/.pylint.d
/.qgis2
/.qt
/.rnd
/.screenrc
/.sh_history
/.sqlite_history
/.ssh
/.subversion
/.surfraw.conf
/.v8flags.*
/.viminfo
/.wireshark
/.zcompdump*
/.zsh-update
/.zsh_history
