[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[status]
   submodulesummary = true

[alias]
   s = status
   a = add
   co = checkout
   cm = commit
   rb = rebase
   cp = cherry-pick
   c = commit
   lg = log --oneline --decorate --graph
   br = branch -av
   sinit = submodule init
   spull = pull --recurse-submodules
   supdate = submodule update --recursive

[core]
   excludesfile = ~/.gitignore_global

[user]
   name = Jeff Kiske
   email = jeff@ot.to

[diff]
   compactionHeuristic = true
